*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Courier, monospace;
}

body{
    background-color: black;
    background-image: url(wallpaper.jpg);
    display: flex;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    margin-top: 150px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background: rgba(30, 30, 30, 0.2);
    backdrop-filter: blur(90px);
    box-shadow: inset 0 0 10px 5px rgb(0, 0, 0);
}

.logo{
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    user-select: none;
    margin-left: 0;
    background-image: url(wallpaper.jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
}

.navigation a {
    color: beige;
    text-decoration: none;
    margin-left: 40px;
    font-weight: 500;
    font-size: 1.1rem;
    position: relative; 
    text-shadow: 0 0 3px 10px;
}
  
.navigation a::after {
    content: "";
    position: absolute;
    left: 0;
    text-align: center;
    bottom: -6px;
    width: 100%;
    height: 3px; 
    background: rgb(37, 39, 37);
    background: linear-gradient(142deg, rgba(0,36,7,1) 0%, rgba(124,14,110,1) 33%, rgba(0,114,255,0.9850533963585434) 100%);
    box-shadow: 0 0 5px 3px rgb(250, 113, 250);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: 0.5s ease; 
}
  
.navigation a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.loginbtn{
    height: 50px;
    width: 90px;
    font-size: 1.1rem;
    margin-left: 40px;
    color: rgb(10, 10, 9);
    background-color: #c1c1c1;
    border-radius: 40px;
    box-shadow: inset -3px -3px 7px #ffffff42,inset 5px 5px 5px rgba(0, 0, 0, 0.347);
    border: 1.5px solid white;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.35s;
}

.loginbtn:hover{
    color: rgb(255, 255, 255);
    background: linear-gradient(142deg, rgba(0,36,7,1) 0%, rgba(124,14,110,1) 33%, rgba(0,114,255,0.9850533963585434) 100%);
    box-shadow: 0 0 5px 3px rgb(250, 113, 250);
    box-shadow: 0 0 10px 3px rgb(255, 255, 255);
    text-shadow: 0 0 3px  rgb(255, 255, 255);
}

.loginbtn:active{
    color: rgb(255, 255, 255);
    background-color: #162938;
}

.wrapper{
    padding-right: 30px;
    position: relative;
    height: 440px;
    width: 480px;
    background: rgba(255, 255, 255, 0.15);
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(15px);
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    transform: scale(0);
    transition:transform.5s ease, height .2s ease;
}

.wrapper.active-popup{
    transform: scale(1);
}

.wrapper.active{
    height: 520px;
}

.wrapper .login{
    width: 100%;
    padding: 40px;
}

.login h2{
    text-align: center;
    align-items: center;

    font-size: 2rem;
    background-image: url(wallpaper.jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent;
    cursor: default;
    text-shadow:rgb(31, 32, 32);
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid rgb(0, 0, 0);
    margin: 30px;
}

.input-box label{
    position: absolute;
    top: 50%;
    left:5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .35s ;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    padding: 0px 35px 0px 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.remember-forgot{
    font-size: 0.9rem;
    justify-content: space-between;
    margin: -15px 0px 15px;
    margin-left: 29px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    font-size: 0.9rem;
    font-weight: 700;
    text-align: center;
    accent-color:transparent;
    margin-right: 2px;
}

.remember-forgot a{
    padding-top: 2px;
    font-weight: 600;
    text-decoration: none;
    color: #162938;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.button{
    width: 100%;
    height: 45px;
    background-color: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    margin-left: 25px;
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
    font-weight: 500;
}

.login-register{
    font-size: 0.9rem;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0px 10px;
}

.login-register p a {
    font-weight: 600;
    text-decoration: none;
    color: #162938;
}

.login-register p a:hover{
    text-decoration: underline;
}

.wrapper .icon-close{
    position: absolute;
    height: 40px;
    width: 40px;
    top: 0;
    right: 0;
    background-color: #162938;
    font-size: 2em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 1;
}

.wrapper .login{
    transition: transform 0.5s ease;
    transform: translateY(0); 
}

.wrapper.active .login{
    position: absolute;
    transition: none;
    transform: translateY(-500px);
}

.wrapper .registration{
    transition: transform .5s ease;
    position: absolute;
    transition: none;
    transform: translateY(500px);
}

.wrapper.active .registration{
    transition: transform .5s ease;
    transform: translateY(0);
}

.registration h2{
    background-image: url(wallpaper.jpg);
    background-size: cover;
    background-clip: border-box;
    -webkit-background-clip: text;
    color:transparent;
    text-align: center;
    justify-content: center;
    margin-left: 50px;
    font-size: 2rem;
}

.register{
    padding-top: 20px;
    padding-left: 27px;
}

.register .login-link{
    padding-top: 2px;
    font-weight: 600;
    text-decoration: none;
    color: #162938;
}

.register .login-link:hover{
    text-decoration: underline;
    font-weight: 600;
}

.input-box .icon:hover{
    cursor: pointer;
}

input[type="checkbox"]{
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: none;
    accent-color: transparent;
}

@media  only screen and (max-width:480px) {

    .wrapper{
        margin: 10px;
        transition: ease 0.3s;
    }

    header{
        padding: 0px;
        z-index: 0;
        display: block;
        justify-content: center;
    }

    .logo{
        margin-top:10px;
        align-items: center;
        margin-left: 34%;
    }

    .logo h2{
        width: 100%;
        display: none;
    }

    .navigation a{
        padding: 0px;
        display: flex;
        font-size: 0.8rem;
        padding-right: 0px;
    }

    .wrapper{
        margin-top: 10px;
        color: white;
    }

    .button{
        background-color: beige;
        color: black;
        width: 100%;
    }
    .navigation{
        left: 0;
        margin-top: 0px;
        display: flex;
        flex-direction: row;
    }

    .navigation a:hover::after{
        display: none;
    }

    .loginbtn{
        height: 30px;
        width: 80%;
        align-items: center;
        font-size: 1.1rem;
        margin-left: 40px;
        color: rgb(10, 10, 9);
        background-color: #c1c1c1;
        border-radius: 10px;
        margin-bottom: 10px;
        box-shadow: inset -3px -3px 5px #625e5e42,inset 5px 5px 7px rgb(61, 60, 60);
        border: 1.5px solid white;
        border-radius: 20px;
        cursor: pointer;
        font-weight: 500;
        transition: 0.35s;
    }

    .input-box label{
        color: white;
    }

    .remember-forgot{
        justify-content: space-between;
        display: block;
    }

    .remember-forgot label input{
        margin-top: 5px;
        margin-bottom: 15px;
        margin-right: auto;
    }

    .remember-forgot a{
        color: white;
        width: 100%;
    }

    .input-box .icon{
        color: white;
    }

    .input-box input{
        color: white;
    }

    .login h2{
        color: #ffffff;
        margin-left: 30px;
    }

    .login-register{
        color: white;
        padding-left: 35px;
        width: 100%;
    }

    .login-register p a{
        color: white;
    }

    .register .login-link{
        color: white;
        padding-bottom:10px ;
    }

    .registration h2{
        color: white;
    }

    .button:hover{
        box-shadow:inset 0 0 10px 5px #222;
    }
}
